@page "/shelters2"
@using Shelterprojekt.Shared.Models
@inject HttpClient Http

<h3>Shelters</h3>

@if (ShelterList == null)
{
    <p><em>Indlæser shelters, vent venligst...</em></p>
    <br />
}
else
{
    <div class="col-md-8">
        <table class="table table-striped table-bordered">
            <thread>
                <tr>
                    <th>Placering</th>
                    <th>Navn</th>
                    <th>Beskrivelse</th>
                    <th>Antal pladser</th>

                </tr>
                @foreach (var shelter in ShelterList)
                {
                    <tr>
                        <td>@shelter.properties.cvr_navn</td>
                        <td>@shelter.properties.navn</td>
                        <td>@shelter.properties.beskrivels</td>
                        <td>@shelter.properties.antal_pl</td>

                    </tr>
                }
            </thread>
            <tbody>
            </tbody>
        </table>
    </div>
}

@code {
    protected List<Shelter> ShelterList;


    protected async Task GetShelters()
    {
        ShelterList = await Http.GetJsonAsync<List<Shelter>>("api/shelter/index");
    }

    protected override async Task OnInitializedAsync()
    {
        await GetShelters();
    }

}
