
button.link {
    background: none;
    border: none;
}

.shelter-card {
    width: 100%;
    min-width: 300px;
    height: 100px;
    color: #2c441f;
    background-color: #eeece6;
    border-radius: 1px;
    margin-bottom: 6px;
    display: table;
}

    .shelter-card:hover {
        background-color: #eeece6cc;
        transition-delay: 0.1s;
        transition-duration: 0.2s;
    }

.shelter-card-cell-tip {
    width: 40px;
    min-width: 40px;
    color: #68785e;
    background-image: linear-gradient(123deg, #638d63 50%, #50745a 100%);
    text-align-last: center;
}

.shelter-card-tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.shelter-card-row {
    height: 80px;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.shelter-card-cell {
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    display: table-cell;
}

.shelter-card-cell-title {
    color: #2c441f;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
    display: block;
}


.oi-plus {
    top: 0px;
    font-weight: lighter;
    vertical-align: middle;
}


.shelter-btn-info {
    width: 100px;
    color: #2c441f;
    background-color: transparent;

    border-color: #2c441f;
    border-width: 2px;
    border-radius: 1px;

    font-weight: bolder;
    text-transform: uppercase;
}

    .shelter-btn-info:hover {
        color: #fff;
        background-color: #2c441f;
        border-color: #2c441f;
    }

    .shelter-btn-info:focus, .shelter-btn-info.focus {
        outline-style: solid;
        outline-width: 2px;
        box-shadow: none;
    }

    .shelter-btn-info.disabled, .shelter-btn-info:disabled {
        color: #fff;
        background-color: #1692a6;
        border-color: #1692a6;
    }

    .shelter-btn-info:not(:disabled):not(.disabled):active,
    .shelter-btn-info:not(:disabled):not(.disabled).active,
    .show > .shelter-btn-info.dropdown-toggle {
        color: #fff;
        background-color: #2c441f;
        border-color: #2c441f;
    }

        .shelter-btn-info:not(:disabled):not(.disabled):active:focus,
        .shelter-btn-info:not(:disabled):not(.disabled).active:focus,
        .show > .shelter-btn-info.dropdown-toggle:focus {
        }
